

<div class= "container mt-4">
    <div class="jumbotron">
        <h1 class="text-center">
        <strong>EAT- DA - BURGER!</strong>
        </h1>
        <hr>
    </div>
    <div class = "row">
        <div class="col-sm-6 mt-4">
    hiii to every one i am happy to have you 
        </div>
        <div class="col-sm-6 mt-4">
    hello world 
        </div>
    </div>
    <div class = "row mt-4">
        <form>
            <div class="form-group">
            <label for="text-input"><strong> send us your favorite burger !</strong></label>
            <input type="email" class="form-control" id="text-input" aria-describedby="emailHelp">
            </div>
             <button type="submit" class="btn btn-primary">Add your own burger</button>
        </form>
    </div>
</div>