* {
    font-family: 'Be Vietnam', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Mansalva', cursive;
    font-family: 'Chewy', cursive;
    color:blue;
}

.jumbotron {
  
    opacity: 0.6;
    color:blue;
}

li{
    font-size: 35px;
    color:rgb(102, 209, 228);

}

p{
    font-size: 35px;
    color:rgb(102, 209, 228);

}

.btn {
    font-size: 20px;
    background-color: rgb(61, 168, 201);
     color: white;
}

label {
    font-size: 40px;
}

body {
    background-image: url(../img/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 

}